<div fxLayout="column" fxLayoutAlign="start">
  <!-- TEST BORRAME -->
  <div class="about-content" fxLayout="column" fxFlex="100">

    <div class="profile-box info-box general borde-tenue" fxLayout="column" style="box-shadow: none;">


      <div class="content" fxLayout="column">
        <div fxLayout="row" fxFlex="100" fxLayout.sm="row" fxLayout.xs="column" fxLayoutGap="8px" style="padding: 3px;">

          <div fxLayout="column" fxFlex="100">

            <!-- Renglon inicio -->
            <div fxFlex="100" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="8px" class="mt-20"
              fxLayoutAlign="space-around start">
              <div fxLayout="column" fxFlex="50">
                <div fxFlex="100">
                  <p>
                    <b>
                      Atributos
                      <hr>
                    </b>
                  </p>
                </div>
                <div fxFlex="100">
                  <div fxFlex="25">
                    <mat-form-field fxFlex="100" appearance="outline" [floatLabel]="'always'">
                      <mat-label>Posicion Superior</mat-label>
                      <input matInput readonly value="0">
                    </mat-form-field>

                  </div>
                  <div fxFlex="75">
                    <mat-form-field fxFlex="100" appearance="outline" [floatLabel]="'always'">
                      <mat-label>Descripcion</mat-label>
                      <input matInput readonly value="Puesto: Director General blablabla">
                    </mat-form-field>

                  </div>
                </div>

                <div fxFlex="100">
                  <div fxFlex="25">
                    <mat-form-field fxFlex="100" appearance="outline" [floatLabel]="'always'">
                      <mat-label>Fecha Movimiento</mat-label>
                      <input matInput readonly value="2021-04-30">
                    </mat-form-field>

                  </div>
                  <div fxFlex="75">
                    <mat-form-field fxFlex="100" appearance="outline" [floatLabel]="'always'">
                      <mat-label>Compania</mat-label>
                      <input matInput readonly value="Compania razon social blablabla">
                    </mat-form-field>

                  </div>
                </div>

                <div fxFlex="100">
                  <div fxFlex="50">
                    <mat-form-field fxFlex="100" appearance="outline" [floatLabel]="'always'">
                      <mat-label>Nivel Puesto</mat-label>
                      <input matInput readonly value="Nivel puesto blablabla">
                    </mat-form-field>

                  </div>
                  <div fxFlex="50">
                    <mat-form-field fxFlex="100" appearance="outline" [floatLabel]="'always'">
                      <mat-label>Puesto</mat-label>
                      <input matInput readonly value="1000 / Puesto Jornalero blablabla">
                    </mat-form-field>
                  </div>
                </div>

                <div fxFlex="100">
                  <div fxFlex="50">
                    <mat-form-field fxFlex="100" appearance="outline" [floatLabel]="'always'">
                      <mat-label>Jerarquia</mat-label>
                      <input matInput readonly value="7 / Operativo blablabla">
                    </mat-form-field>

                  </div>
                  <div fxFlex="50">
                    <mat-form-field fxFlex="100" appearance="outline" [floatLabel]="'always'">
                      <mat-label>Tipo Posicion</mat-label>
                      <input matInput readonly value="2 / Eventual blablabla">
                    </mat-form-field>
                  </div>
                </div>

                <div fxFlex="100">
                  <div fxFlex="50">
                    <mat-form-field fxFlex="100" appearance="outline" [floatLabel]="'always'">
                      <mat-label>Contrato</mat-label>
                      <input matInput readonly value="8 / Obrero EV blablabla">
                    </mat-form-field>

                  </div>
                  <div fxFlex="50">
                    <mat-form-field fxFlex="100" appearance="outline" [floatLabel]="'always'">
                      <mat-label>Nivel Organigrama</mat-label>
                      <input matInput readonly value="27 / Operativo blablabla">
                    </mat-form-field>
                  </div>
                </div>

                <div fxFlex="100">
                  <div fxFlex="33.33">
                    <mat-form-field fxFlex="100" appearance="outline" [floatLabel]="'always'">
                      <mat-label>Motivo Movimiento</mat-label>
                      <input matInput readonly value="Alta">
                    </mat-form-field>

                  </div>
                  <div fxFlex="33.33">
                    <mat-form-field fxFlex="100" appearance="outline" [floatLabel]="'always'">
                      <mat-label>Numero posiciones</mat-label>
                      <input matInput readonly value="5">
                    </mat-form-field>
                  </div>
                  <div fxFlex="33.34">
                    <mat-form-field fxFlex="100" appearance="outline" [floatLabel]="'always'">
                      <mat-label>Sueldo posicion</mat-label>
                      <input matInput readonly value="$5,000.00">
                    </mat-form-field>
                  </div>
                </div>

                <div fxFlex="100">
                  <div fxFlex="50">
                    <mat-form-field fxFlex="100" appearance="outline" [floatLabel]="'always'">
                      <mat-label>Activa</mat-label>
                      <input matInput readonly value="Si">
                    </mat-form-field>

                  </div>
                  <div fxFlex="50">
                    <mat-form-field fxFlex="100" appearance="outline" [floatLabel]="'always'">
                      <mat-label>Staff</mat-label>
                      <input matInput readonly value="No">
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div fxLayout="row" fxFlex="50" fxLayoutAlign="space-around start">

                <div fxLayout="column" fxFlex="100">

                  <div fxLayout="column" fxFlex="50">

                    <div fxFlex="100">
                      <p>
                        <b> Estructuras
                          <hr>
                        </b>

                      </p>
                    </div>
                    <div fxFlex="100">
                      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                        <!--- Note that these columns can be defined in any order.
                              The actual rendered columns are set as a property on the row definition" -->

                        <!-- Position Column -->
                        <ng-container matColumnDef="position">
                          <th mat-header-cell *matHeaderCellDef> No. </th>
                          <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                        </ng-container>

                        <!-- Name Column -->
                        <ng-container matColumnDef="name">
                          <th mat-header-cell *matHeaderCellDef> Name </th>
                          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                        </ng-container>

                        <!-- Weight Column -->
                        <ng-container matColumnDef="weight">
                          <th mat-header-cell *matHeaderCellDef> Weight </th>
                          <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
                        </ng-container>

                        <!-- Symbol Column -->
                        <ng-container matColumnDef="symbol">
                          <th mat-header-cell *matHeaderCellDef> Symbol </th>
                          <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                      </table>

                    </div>
                  </div>
                  <div fxLayout="column" fxFlex="50">
                    <div fxFlex="100">
                      <p>
                        <b> Otros Organigramas
                          <hr>
                        </b>

                      </p>
                    </div>
                    <div fxFlex="100">
                      <table mat-table [dataSource]="dataSource2" class="mat-elevation-z8">

                        <!--- Note that these columns can be defined in any order.
                              The actual rendered columns are set as a property on the row definition" -->

                        <!-- Position Column -->
                        <ng-container matColumnDef="position">
                          <th mat-header-cell *matHeaderCellDef> No. </th>
                          <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                        </ng-container>

                        <!-- Name Column -->
                        <ng-container matColumnDef="name">
                          <th mat-header-cell *matHeaderCellDef> Name </th>
                          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                        </ng-container>

                        <!-- Weight Column -->
                        <ng-container matColumnDef="weight">
                          <th mat-header-cell *matHeaderCellDef> Weight </th>
                          <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
                        </ng-container>

                        <!-- Symbol Column -->
                        <ng-container matColumnDef="symbol">
                          <th mat-header-cell *matHeaderCellDef> Symbol </th>
                          <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                      </table>

                    </div>
                  </div>
                </div>

              </div>
            </div>
            <!-- Renglon Fin -->

          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- TEST BORRAME -->
</div>